<p>listallbattles works!</p>
<h3>List of all Battles</h3><br /><br />
<table class="table table-hover" table-border="1" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Battle Number</th>
            <th>Attacker King</th>
            <th>Defender King</th>
        </tr>
    </thead>
    <tbody>
         <!-- <tr *ngFor="let battle of listAllBattles">
            <td>{{ battle.name }}</td>
            <td>{{ battle.year }}</td>
            <td>{{ battle.battle_number }}</td>
            <td>{{ battle.attacker_king }}</td>
            <td>{{ batttle.defender_king}}</td>

        </tr>  -->
    </tbody>
</table> 

